:root {
    --white-color: #fafafb;
    --background-color: #17171e;
    --grey-color: #b5b5be;
    --dark-grey-color: #292932;
  }
  
  * {
    box-sizing: border-box;
    max-height: 90rem;
  }
  
  a{
      text-decoration: none;
  }
  
  html,
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    font-weight: 500;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--white-color);
    height: 100vh;
    background-color: #ffffff;
  }
  
  .lead { font-size: 1.5rem; font-weight: 300; }
  .container { margin: 150px auto; max-width: 960px; color: #000; }
  
  .side-bar {
    width: 23.2rem;
    height: 100%;
    padding: 2.1rem 1.2rem;
    background-color: #0c0c0e;
    position: fixed;
    transition: all 0.5s ease;
    top: 0;
  }
  .logo{
    width: 18rem;
  }
  .logo-name-wrapper {
    position: relative;
    margin-bottom: 2.1rem;
    display: flex;
    font-size: 1.2rem;
    
  }
  
  .logo-name {
    display: flex;
    align-items: center;
    
  }
  
  .logo-name__name {
    margin-left: 0.9rem;
    white-space: nowrap;
  }
  .logo-name__button {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.8rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .logo-name__icon {
    font-size: 1.8rem;
    color: var(--grey-color);
  }
  
  .message {
    background-color: var(--dark-grey-color);
    display: flex;
    align-items: center;
    padding: 1.55rem 0 1.55rem 1.2rem;
    border-radius: 0.4rem;
    margin-bottom: 3.6rem;
    cursor: pointer;
    position: relative;
  }
  
  .message-icon {
    font-size: 2rem;
    transform: translateX(3rem);
    transition: all 0.5s ease;
  }
  
  .message-text {
    margin-left: 1.1rem;
    font-size: 1.4rem;
    white-space: nowrap;
    transform: translateX(3rem);
    transition: all 0.5s ease;
  }
  
  .features-list {
    padding-bottom: 1rem;
    border-bottom: 1px solid #292932;
    list-style: none;
  }
  
  .features-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0.9rem;
    margin-bottom: 1.1rem;
    color: var(--grey-color);
    cursor: pointer;
    transition: 0.5s ease;
  }
  .features-item::before {
    transition: 0.5s ease;
    content: '';
    position: absolute;
    left: -1.2rem;
    height: 100%;
    border-left: 3px solid var(--white-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
  }
  
  .features-item:hover {
    color: var(--white-color);
    transition: 0.5s ease;
  }
  
  .features-item:hover::before {
    opacity: 1;
    visibility: unset;
  }
  
  .features-item-icon {
    font-size: 2rem;
  }
  
  .features-item-text {
    margin-left: 1.5rem;
    transition: opacity 0.6s ease;
    opacity: 1;
  }
  
  .inbox-number {
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    background-color: #1e75ff;
    padding: 0.5rem 0.9rem;
    border-radius: 0.4rem;
    color: var(--white-color);
    opacity: 1;
    transition: 0.6s linear;
  }
  
  .inbox-icon {
    position: relative;
  }
  
  .inbox-icon .status {
    position: absolute;
    top: 0;
    right: -1px;
    background-color: #1e75ff;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    opacity: 0;
    transition: 0.6s linear;
  }
  
  .category-list {
    padding-top: 2.1rem;
    padding-bottom: 0.9rem;
    color: var(--grey-color);
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid #292932;
  }
  
  .category-header {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    color: var(--white-color);
    margin-bottom: 1.3rem;
    white-space: nowrap;
  }
  
  .category-item {
    position: relative;
    padding: 0.9rem 1.1rem;
    line-height: 1.8rem;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .category-item-status {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    display: inline-block;
  }
  .category-item-text {
    margin-left: 1rem;
    transition: opacity 0.6s ease;
    opacity: 1;
  }
  
  .category-item-number {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .chat-list {
    padding: 2.1rem 0;
    font-size: 1.2rem;
  }
  
  .chat-header {
    text-transform: uppercase;
    line-height: 1.8rem;
    color: var(--white-color);
    margin-bottom: 1.3rem;
    white-space: nowrap;
  }
  
  .chat-new-btn {
    color: #1e75ff;
    background-color: transparent;
    outline: none;
    border: none;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    padding-bottom: 2.1rem;
    padding-left: 0.1rem;
    cursor: pointer;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .chat-new-btn-text {
    white-space: nowrap;
    transition: opacity 0.6s ease;
    opacity: 1;
  }
  
  .chat-icon {
    font-size: 2.1rem;
    margin-right: 1.2rem;
  }
  
  .chat-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2.1rem;
    color: var(--grey-color);
    cursor: pointer;
  }
  
  .chat-item-avatar-wrapper {
    position: relative;
  }
  .chat-item-avatar-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #79d861;
    opacity: 0;
    transition: 0.6s linear;
  }
  
  .chat-item-avatar-wrapper.has-message::before {
    background-color: #1e75ff;
    border: 2px solid var(--white-color);
    height: 6px;
    width: 6px;
  }
  
  .chat-item-avatar {
    object-fit: cover;
    object-position: top;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    border: 1px solid var(--white-color);
  }
  
  /* background color in inline style */
  .chat-item-status {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5px;
    opacity: 1;
    transition: 0.6s linear;
  }
  .chat-item-number {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #1e75ff;
    padding: 0.5rem 0.9rem;
    border-radius: 0.4rem;
    color: var(--white-color);
    opacity: 1;
    transition: 0.6s linear;
  }
  
  .chat-item-name {
    white-space: nowrap;
    transition: opacity 0.6s ease;
    opacity: 1;
    margin-left: 1.4rem;
  }
  
  .tooltip {
    position: absolute;
    top: -2.1rem;
    left: 6.4rem;
    background-color: white;
    color: var(--background-color);
    border-radius: 0.4rem;
    padding: 0.5rem 0.9rem;
    font-size: 1.4rem;
    transition: 0s;
    opacity: 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .side-bar.collapse .message:hover .tooltip,
  .features-item:hover .tooltip,
  .category-item:hover .tooltip,
  .chat-new-btn:hover .tooltip {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
  }
  
  .side-bar.collapse {
    width: 6.4rem;
  }
  
  .side-bar.collapse .tooltip {
    display: block;
  }
  
  .side-bar.collapse .logo-name,
  .side-bar.collapse .category-header,
  .side-bar.collapse .chat-header,
  .side-bar.collapse .chat-new-btn-text,
  .side-bar.collapse .features-item-text,
  .side-bar.collapse .inbox-number,
  .side-bar.collapse .category-item-text,
  .side-bar.collapse .category-item-number,
  .side-bar.collapse .message-text,
  .side-bar.collapse .chat-item-name,
  .side-bar.collapse .chat-item-number,
  .side-bar.collapse .chat-item-status {
    opacity: 0;
    pointer-events: none;
  }
  
  .side-bar.collapse .message-text {
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
  }
  .side-bar.collapse .message-icon {
    transform: translateX(0);
  }
  .side-bar.collapse .logo-name__button {
    right: 0.5rem;
  }
  
  .side-bar.collapse .inbox-icon .status,
  .side-bar.collapse .chat-item-avatar-wrapper::before {
    opacity: 1;
  }
  
  
  
  /* navbar */
  .cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;  
   background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(224,232,245,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(224,232,245,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(224,232,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e8f5',GradientType=0 );
  
  }
  
  .cont_menu {
    position: absolute;
    width: 250px;
    right: 2rem;
    top:1rem;
  }
  
  .cont_titulo_menu{
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #6c36e9;
    box-shadow: 0px 7px 30px -12px rgba(0,0,0,0.5);
    margin-top: 20px;
    border-radius:3px ;
     -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;         user-select: none;           }
  
  
  .cont_icon_menu{
    position: relative;
    float: right;
    margin-right: 20px;
    top:14px;
  
  }
  .cont_icon_menu > img {
  width: 32px;
  z-index: 2;
  position: relative;
  }
  .cont_titulo {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  }
  
  .cont_circle_1 {
    position: absolute;
  top:-16px;
    left: -16px;
    width: 64px;
    height: 64px;
  background-color: #fff;
  opacity: 0.3;
    z-index: 0;
  border-radius:50% ;
  animation: animation_circle_1 3s infinite;
      animation-direction: alternate;
  transform: scale(0);
  }
  .cont_circle_2 {
    position: absolute;
  top:-46px;
    left: -46px;
    width: 128px;
    height: 128px;
  background-color: #fff;
  opacity: 0.2;
    z-index: 0;
  border-radius:50% ;
  animation: animation_circle_1 3s infinite;
      animation-direction: alternate;
  animation-delay: 0.5s;
  transform: scale(0);
  }
  .cont_circle_3 {
    position: absolute;
  top:-80px;
    left: -80px;
    width: 192px;
    height: 192px;
  background-color: #fff;
  opacity: 0.1;
    z-index: 0;
  border-radius:50% ;
  animation: animation_circle_1 3s infinite;
      animation-direction: alternate;
  animation-delay: 1s;
  transform: scale(0);
  }
  .cont_circle_4 {
    position: absolute;
  top:-115px;
    left: -116px;
    width: 256px;
    height: 256px;
  background-color: #fff;
  opacity: 0.1;
    z-index: 0;
  border-radius:50% ;
  animation: animation_circle_1 3s infinite;
      animation-direction: alternate;
  animation-delay: 1.5s;
  transform: scale(0);
  }
  
  @-webkit-keyframes animation_circle_1 {
    from { transform: scale(0);   }
    to { transform: scale(1); }
  }
  @-o-keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  @-moz-keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  @keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  
  .cont_drobpdown_menu {
    position: relative;
    float: left;
    width: 100%;
     background-color: #fff;
    box-shadow: 0px 2px 20px -2px rgba(0,0,0,0.3);
  margin-top: 10px;
    border-radius:3px ;
  opacity: 1;
    transition: all 0.5s;
    z-index: 1;
  } 
  .cont_drobpdown_menu ul > li {
  
    list-style: none;
    margin-left: -3px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #eee ;
    width: 100%;
    display: block;
  transition: all 0.5s;
  }
  .cont_drobpdown_menu ul > li:hover { 
    border-left: 5px solid #6992FE ;
  }
  .cont_drobpdown_menu ul > li:hover >a {  
  color: #6992FE;
  }
  
  .cont_drobpdown_menu ul > li:nth-child(2) {
    border: none;
  }
  .cont_drobpdown_menu ul > li > a {
    position: relative;
    display: block;
    width: 90%;
    font-size: 2rem;
    left: 1rem;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration: none;
    color: #071320;
  transition: all 0.2s;
  }
  .cont_drobpdown_menu ul > li > hr  {
  width: 90%;
  height: 0px;
  color: #051a30;
  background-color: #123455;
  border:1px solid #eee;
  }
  
  
  .cont_icon_trg {
        position: relative;
      float: left;
      margin-bottom: -30px;
      z-index: 1;
    left: 10px;
    transform: translate(0px,10px);
  transition: all 0.5s;
  }
  
  
  .disable   {
    transition: all 0.5s;
    opacity: 0;  
    transform: translate(0px,10px);
  
  }
  
  .disable > ul > li {
    transform: translate(0px,10px);
    opacity: 0;
  }
  
  .active   {
     opacity: 1;  
    transform: translate(0px,0px);
  }
  
  .active > ul > li {
  transition-delay: 0.5s;
    transform: translate(0px,0px);
    opacity: 1;
  }
  
 /* planner */

 
 :root {
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
  }
  .task-manager {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    max-height: 900px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016),
      0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024),
      0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
  }
  
  .left-bar {
    background-color: var(--bg-color);
    width: 230px;
    border-right: 1px solid #e3e7f7;
    position: relative;
  }
  
  .left-content {
    padding: 40px;
  }
  .item {
    color: var(--main-color);
    margin-bottom: 14px;
    font-weight: 500;
  }
  .item img {
    width: 14px;
    height: 14px;
    color: currentcolor;
    margin-right: 10px;
  }
  
  .category-list {
    margin-top: 50px;
  }
  .category-list .item {
    color: var(--secondary-color);
  }
  .actions {
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #fe4d46;
    box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
  }
  .circle-2 {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #d5d7e3;
    box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
  }

/* planner */

  .page-content {
      position: relative;
      bottom: 24rem;
    width: 90%;
    padding: 10px 10px 0 10px;
    

  }

  .page-content .header {
    font-size: 26px;
    color: var(--main-color);
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #4413b6;
    font-weight: 550;
  }
  
  .content-categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .nav-item {
    display: none;
  }
  
  .category {
    font-weight: 500;
    color: var(--secondary-color);
    border-bottom: 1px solid #ddd;
    transition: 0.4s ease-in;
    padding: 20px 30px;
    cursor: pointer;
  }
  
  #opt-1:checked + label,
  #opt-2:checked + label,
  #opt-3:checked + label,
  #opt-4:checked + label {
    color: var(--checkbox-color);
    border-bottom: 2px solid var(--checkbox-color);
  }
  
  /*  */
  
  .task-item {
    display: none;
  }
  .tasks-wrapper {
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
    padding-left: 30px;
    color: var(--task-color);
    font-size: 1.5rem;
    font-weight: 500;
    height: 2rem;
  }
  .task:hover {
    transform: translatex(2px);
    background-color: rgba(203, 205, 206, 0.171);
  }
  .task label {
    cursor: pointer;
  }
  label .label-text {
    position: relative;
  }
  label .label-text:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    left: -24px;
    transition: 0.2s ease;
  }
  
  .task-item:checked + label .label-text:before {
    background-color: var(--checkbox-color);
    border: none;
    background-image: url('svg/check.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border: 1px solid var(--checkbox-color);
  }
  .tag {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 20px;
  }
  .tag.approved {
    background-color: var(--tag-color-one);
    color: var(--tag-color-text-one);
  }
  .tag.progress {
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
  }
  .tag.review {
    background-color: var(--tag-color-three);
    color: var(--tag-color-text-three);
  }
  .tag.waiting {
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
  }
  
  .upcoming {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .members {
    display: flex;
    margin-top: 14px;
  }
  .members img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    object-fit: cover;
  }
  
  .right-bar {
    width: 350px;
    border-left: 1px solid #e3e7f7;
    position: relative;
    bottom: 80rem;
    left: 92%;
  }
  
  .right-bar .header {
    font-size: 20px;
    color: var(--main-text-color);
    margin-left: 40px;
  }
  .top-part {
    padding: 30px;
    align-self: flex-end;
  }
  .top-part img {
    width: 14px;
    height: 14px;
    color: var(--main-color);
    margin-right: 14px;
  }
  
  .top-part .count {
    font-size: 12px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #623ce8;
    color: #fff;
    justify-content: center;
  }
  .right-content {
    padding: 10px 40px;
    overflow-y: auto;
    flex: 1;
  }
  .task-box {
    position: relative;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
    padding: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);
  }
  .task-box:hover {
    transform: scale(1.02);
  }
  .time {
    margin-bottom: 6px;
    opacity: 0.4;
    font-size: 10px;
  }
  
  .task-name {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
  }
  .yellow {
    background-color: var(--box-color);
  }
  .blue {
    background-color: var(--box-color-2);
  }
  .red {
    background-color: var(--box-color-3);
  }
  .green {
    background-color: var(--box-color-4);
  }
  .more-button {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #8e92a4;
    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
    opacity: 0.4;
    right: 20px;
    top: 30px;
    cursor: pointer;
  }
  /*  */
  
  @media screen and (max-width: 900px) {
    .left-bar {
      display: none;
    }
  }
  @media screen and (max-width: 700px) {
    .task-manager {
      flex-direction: column;
      overflow-y: auto;
    }
    .right-bar,
    .page-content {
      width: 100%;
      display: block;
    }
    .tasks-wrapper {
      height: auto;
    }
  }
  @media screen and (max-width: 520px) {
    .page-content {
      padding: 40px 10px 0 10px;
    }
    .right-content {
      padding: 10px 16px;
    }
    .category {
      padding: 20px;
    }
  }
  
  
